body {
	text-align: center;
	font-family: HanziPen SC;
	padding: 0px;
	margin: 0px;
	background-image: url("http://41.media.tumblr.com/10b108cbf6a23d169052c305a84d6ea2/tumblr_nhg3iuXYiv1sbq861o3_1280.jpg");
}
h1 {
	font-size: 100px;
	background-color: white;
}
.wrapper {
  padding: 20px;
  background-color: #fafafa;
  border: 1pt solid #ddd;
}

.prop {
  padding: 20px 0;
}

.error {
  color: red;
}

.message {
  color: black;
  font-size: 20px;
  background-color: white;

}
.login {

}
.loginButt {
	background-color: RoyalBlue;
}
.dropdown {
	float: center;
}
button {
	padding: 5px;
	font-size: 25px;
}
a {
	font-size: 30px;
	background-color: white;
	border: 1pt black solid;
	margin-bottom: 5px;
}
/*.list {
	width: 30%

}
.align {
	margin: auto;
	text-align: center;
}*/