<!-- Top to bottom: Top: Send Message: Text Area, next button, challenge dropdown, friends dropdown, error message ||| Bottom: Split in 2 columns, 1st: Your friends list, add friend at the bottom with an input 2nd: List of your unopened messages --> -->
<h2> HOME </h2>
<a href="#/message">View my latest yokes</a>
<br>
<textarea type="text" class="form-control" ng-model="sentMsg.text" placeholder="Write your yoke here!">></textarea>
<select ng-model="sentMsg.receiver" ng-options="friend for friend in friends"></select>
<br>
<button class="btn btn-info" ng-click="send()">Click to send!</button>
 <button ng-click="logout()">Logout</button> 