<!-- Yoked by 'friendname', Button to start challenge, message field hidden until challenge complete  -->
<h2>MESSAGE</h2>
<div class="message">
	<a href="#/">Home</a>
	<br>
	<button ng-show="success" ng-click="counter()">Click this 100 times to reveal your message!</button>
	<br>
	<div ng-show="success" ng-model="clickCount">Your click count is {{clickCount}}</div>
	<div class="align">
		<ol class="list" ng-hide="success">
		<li ng-repeat="item in mine track by $index">{{item}}</li>
	</div>
	</ol>
</div>



